.wrapper {
    text-align: center;
    background-color: #28293E;
    color: white;
    height: 100%;
    display: block;
    padding: 200px  ;
    font-size: large;
}

form {}

.loginGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loginParameter{
        margin: 5px;
        margin-right: 40px;
}

.loginInput{
    margin-left: 10px;
}
        
.submitButton {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}